@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunti.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunti.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunti.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunti.svg#1f119954ff6b70c37e3ddb61d2164971') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  100;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunrm.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunrm.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunrm.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunrm.svg#b19a3fcc59b1d4740e6d6e9eb9cec199') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  100;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunti.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunti.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunti.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunti.svg#1f119954ff6b70c37e3ddb61d2164971') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunrm.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunrm.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunrm.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunrm.svg#b19a3fcc59b1d4740e6d6e9eb9cec199') format('svg'); /* Legacy iOS */
 
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunbi.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunbi.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunbi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunbi.svg#51e40c307490eb4f915148e752c550d1') format('svg'); /* Legacy iOS */

  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: 'CMU Serif';
  src: url('fonts/cmunbx.eot'); /* IE9 Compat Modes */
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/cmunbx.woff') format('woff'), /* Modern Browsers */
       url('fonts/cmunbx.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/cmunbx.svg#d7e0fafe6573441f0dfff33be5e578f6') format('svg'); /* Legacy iOS */

  font-style:   normal;
  font-weight:  700;
}

/*svgs*/

#two .line{
  cursor:pointer;
}
#area2 {
  cursor:pointer;
}
.line { 
    stroke: #ED574B;
    stroke-width: 3;
    fill: none;
    z-index:100;
    stroke-linecap:round;
}

.area {
/*  fill:none;*/
}

.tick line {
	stroke: #383E63;
	stroke-width:0.2;
}

.tick text {
	fill: #999999;
}

.domain {
	stroke: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.chart {
	width:30%;
	height:40vh;
	margin:auto;
  margin-left:3%;
  display:inline-block;
	background-color:;
	margin-top:1%;
  margin-bottom:-8%;
}


.alert {
	background-color: transparent;
  color:white;
	height:80%;
  display:none;
}

.alert h2 {
	position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:auto;
    vertical-align:middle;
    text-align:center;
    width:80%;
    color: #999999;
    font-family: 'Helvetica Neue';
    font-weight:600;
    font-size:1em;
}

/*Interface*/
html, body {
	top:0;
	left:0;
	margin:0;
	width:100%;
  overflow:hidden;
  background-image: url("https://www.transparenttextures.com/patterns/light-wool.png");
}

.assessment {
	width:100%;
	height:auto;
	margin:0%;
	display:inline-block;
	padding:0% 5% 0% 3%;
}

.selection {
  width:55%;
  display:inline-block;
}

@keyframes fadeIn {
  0% {
    opacity:0.8;
    margin-top:4%;
  }
  100% {
    opacity:1;
    margin-top:2%;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.results {
  animation:fadeIn 1s ease-in-out;
  background-color:#081451;
	vertical-align:top;
	margin:2%;
	width:95%;
	height:45vh;
  border-radius:0.5em;
	box-shadow: 1em 0.8em 2em #CCC;
	display:inline-block;
}

.assessment h1 {
	color: #ED574B;
	font-family: 'Helvetica Neue', sans-serif;
	font-weight:600;
	font-size:1.7em;
}

.assessment p {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight:100;
	font-size:1em;
	color:black;
}

.title h1 {
	font-family: 'Helvetica Neue';
	font-weight:600;
	font-size:1em;
	color:#666666;
	display:inline-block;
}

.cat {
	display:inline-block;
	width:25%;
	vertical-align: top;
	margin-right:5%;
}

.info {
	display:inline-block;
	background-color: #B3B3B3;
	font-family:'Helvetica Neue', sans-serif;
	font-style:italic;
	font-weight:700;
	color:#F2F2F2;
	font-size:0.05em;
	padding:0.3em 0.8em 0.3em 0.8em;
	vertical-align:middle;
	border-radius:50%;
  cursor:pointer;
}
.info:hover {
  background-color: #EC574B;
}
.option {
	display:block;
	margin-bottom:1%;
}

.filter h2 {
	font-family: 'Helvetica Neue';
	font-size: 0.8em;
	color: #ED574B;
}

label {
	font-family: 'Helvetica Neue';
	color: #666666;
	font-size:0.7em;
	font-weight:600;
	margin-left: 5%;
}

input[type=radio] {
		   position: relative;
	       cursor: pointer;
    }
    input[type=radio]:before {
         content: "";
         display: block;
         position: absolute;
         width: 18px;
         height: 18px;
         top: 0;
         left: -10%;
         border: 0.05em solid #666666;
         background-color: white;
}
    input[type=radio]:checked:after {
         content: "X";
         color:white;
         font-weight: 600;
         text-align:center;
         display: block;
         position: absolute;
         width: 18px;
         height: 18px;
         top: 0;
         left: -10%;
         border: 0.05em solid #ED574B;
         background-color: #ED574B;
}

.sticker {
  position:fixed;
  margin-top:20%;
  right:0;
  background-color:#ED574B;
	display:inline-block;
	width:auto;
  border-radius:0.5em;
  padding:2%;
  animation-delay:2s;
  animation:fadeInOpacity 3s ease-in-out;
/*  box-shadow: 0.2em 0.2em 1em #CCC;*/

}
.sticker p {
	font-family: 'Helvetica Neue';
	font-size: 0.8em;
	font-weight:600;
  font-size:0.8em;
	line-height:1em;
  width:55%;
  display:inline-block;
}

#premium {
	font-family: 'Helvetica Neue';
	font-size:1.8em;
	font-weight:600;
	color: white;
	line-height:0.5em;
  display:inline-block;
/*  margin-left:5%;*/
  margin-right:2%;
}

.insights {
  width:30%;
  display:inline-block;
  vertical-align:top;
  padding-bottom:3%;
}

.insights p {
  display:inline-block;
  color:#666666;
}
.insights hr {
  height:0.05em;
  background-color:black;
  border:black;
}

.insights .info {
  text-align:left;
}
.learn-more {
	display:block;
  margin-top:5%;
	width:100%;
}

.learn-more h1 {
	font-family: 'Helvetica Neue';
	font-weight:600;
	color:black;
	font-size:1em;
  margin-bottom:0%;
}

.learn-more p {
  margin:0%;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:400;
  font-size:0.8em;
  letter-spacing:0.05em;
}

.agent .button {
  display:inline-block;
  font-family: 'Helvetica Neue';
  font-weight:600;
  color:black;
  font-size:0.7em;
  margin:1%;
  background-color: #CCCCCC;
  color:#666666;
  padding:0.5% 1%;
  cursor:pointer;
  transition:0.5s all ease-in-out;
  box-shadow: 1em 1em 2em #150031;
}

.agent {
  padding:1% 0% 0% 2%;
}

.chart-title {
  font-family: 'Helvetica Neue', sans-serif;
  text-transform:uppercase;
  font-size:0.6em;
  line-height:0em;
  font-weight:600;
  padding:0;
  margin-top:3%;
  letter-spacing:0.05em;
  margin-bottom:-10%;
  color:white;
}

.x-label {
  fill:#CCCCCC;
  font-family: 'Helvetica Neue', sans-serif;
  font-style:normal;
  font-weight:600;
  text-transform:uppercase;
  font-size:0.6em;
}

div.tooltip { 
    position: absolute;     
    text-align: center;     
    width: fit-content;     
    font: 12px sans-serif;    
    padding:0.5%;
    background: lightsteelblue; 
    border: 0px;      
    pointer-events: none;
}

em {
  font-weight:700;
}

em1 {
  font-weight:600;
  color:#ED574B;
}

em2 {
  font-weight:600;
  color:#4873EB;
}

em3 {
  font-weight:600;
  color:#FBB03B;
}

/*info lightbox*/
.info-lightbox {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight:600;
  font-size:1em;
  color:#666666;
  display:none;
  position:absolute;
  z-index:100;
  margin:auto;
  width:80%;
  height:80vh;
  top:10%;
  left:10%;
  background-color:white;
  animation:fadeInOpacity 0.5s ease-in-out;
  border-radius:1em;
  background-blend-mode: multiply;
}
close {
  cursor:pointer;
  font-family: 'Helvetica Neue', sans-serif;
  padding:1%;
  border:0.05em solid #ED574B;;
  float:right;
  margin:5%;
  color:#ED574B;;
}
close:hover {
  background-color:#ED574B;;
  color:white;
}
#shadow {
  display:none;
  background-color:#ED574B;
  opacity:0.95;
  position:absolute;
  width:100%;
  height:100vh;
  z-index:90;
  animation:fadeInOpacity 0.5s ease-in-out;
}
.info-lightbox .content {
  padding:5%;
}
.info-lightbox p {
  font-weight:400;
  line-height:2em;
  letter-spacing:0.02em;
  font-size:0.9em;
}
.info-lightbox a {
  width:fit-content;
  text-align:center;
  display:block;
  text-decoration: none;
  border:0.05em solid #ED574B;
  padding:2%;
  color: #ED574B;
  margin-top:3%;
}
.info-lightbox a:hover {
  text-decoration-style: normal;
  background-color:#ED574B;
  border:0.05em solid #ED574B;
  padding:2%;
  color: white;
}

/*profiles*/
#profiles h1 {
  font-family: 'Helvetica Neue';
  font-weight:600;
  font-size:1em;
  color:#666666;
  display:block;
}
.profile {
  display:inline-block;
  margin-right:10%;
}
.profile h2 {
  font-family: 'Helvetica Neue';
  font-size: 0.8em!important;
  color: #ED574B;
  font-size:1em;
  display:inline-block;
}
.face {
  display:block;
  text-align:center;
  background-color:white;
  border:0.05em solid #ED574B;
  color:#ED574B;
  padding:1em;
  cursor:pointer;
  border-radius:0.5em;
}
.face:hover {
  background-color:#ED574B;
  border:0.05em solid #ED574B;
  color:white;
}